* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* VARIABLES*/

:root {
    --color-white: #ffffff;
    --color-blue300: #d0d6f9;
    --color-blue900: #0b0d17;
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-800: 64px;
    --spacing-1000: 80px;
    --spacing-1200: 96px;
    --spacing-1600: 128px;
    --spacing-50: 4px;
    --spacing-25: 2px;
    --spacing-150: 12px;
    --fontsize-desktop-textpreset1: 144px;
    --fontsize-desktop-textpreset2: 96px;
    --fontsize-desktop-textpreset3: 56px;
    --fontsize-desktop-textpreset4: 32px;
    --fontsize-desktop-textpreset5: 28px;
    --fontsize-desktop-textpreset6: 28px;
    --fontsize-desktop-textpreset7: 14px;
    --fontsize-desktop-textpreset8: 16px;
    --fontsize-desktop-textpreset9: 18px;
    --fontsize-tablet-textpreset2: 80px;
    --fontsize-tablet-textpreset9: 16px;
    --fontsize-tablet-textpreset5: 20px;
    --fontsize-tablet-textpreset4: 24px;
    --fontsize-tablet-textpreset3: 40px;
    --fontsize-mobile-textpreset2: 56px;
    --fontsize-mobile-textpreset3: 24px;
    --fontsize-mobile-textpreset4: 18px;
    --fontsize-mobile-textpreset6: 16px;
    --fontsize-mobile-textpreset9: 15px;
    --fontsize-mobile-textpreset1: 80px;
    --fontsize-mobile-textpreset8: 14px;
}

/* STYLES */
.desktop-textpreset1 {
    font-size: 144px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
}

.desktop-textpreset2 {
    font-size: 96px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
}

.desktop-textpreset3 {
    font-size: 56px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
    text-decoration: uppercase;
}

.desktop-textpreset4 {
    font-size: 32px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
    text-decoration: uppercase;
}

.desktop-textpreset5 {
    font-size: 28px;
    font-family: Barlow Condensed, sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
}

.desktop-textpreset6 {
    font-size: 28px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
    text-decoration: uppercase;
}

.desktop-textpreset7 {
    font-size: 14px;
    font-family: Barlow Condensed, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: uppercase;
}

.desktop-textpreset8 {
    font-size: 16px;
    font-family: Barlow Condensed, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.desktop-textpreset8bold {
    font-size: 16px;
    font-family: Barlow Condensed, sans-serif;
    font-weight: 700;
    letter-spacing: 2.7px;
}

.desktop-textpreset9 {
    font-size: 18px;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    line-height: 1.8;
}

.tablet-textpreset2 {
    font-size: 80px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
}

.tablet-textpreset3 {
    font-size: 40px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
    text-decoration: uppercase;
}

.tablet-textpreset4 {
    font-size: 24px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
    text-decoration: uppercase;
}

.tablet-textpreset5 {
    font-size: 20px;
    font-family: Barlow Condensed, sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.tablet-textpreset9 {
    font-size: 16px;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    line-height: 1.8;
}

.mobile-textpreset1 {
    font-size: 80px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
}

.mobile-textpreset2 {
    font-size: 56px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
}

.mobile-textpreset3 {
    font-size: 24px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
    text-decoration: uppercase;
}

.mobile-textpreset4 {
    font-size: 18px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
    text-decoration: uppercase;
}

.mobile-textpreset6 {
    font-size: 16px;
    font-family: Barlow Condensed, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.mobile-textpreset8 {
    font-size: 14px;
    font-family: Barlow Condensed, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.mobile-textpreset9 {
    font-size: 15px;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    line-height: 1.8;
}

/* Body */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-image: url("./assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

/* Header */

header {
    flex: 0;
    height: 72px;
    display: flex;
    justify-content: center;

}

.navigation {
    flex: 1;
    max-width: 1440px;
    display: flex;
    padding-top: 40px;
    align-items: center;
    align-self: stretch;
}

.logo {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 64px;
    gap: 64px;
}

hr {
    flex: 1;
    height: 1px;
    opacity: 0.25;
    background: rgb(255, 255, 255);
    z-index: 100;
}

#desktop-menu {
    flex: 1;
    margin-left: -32px;
    /* padding: 0px 64px; */
    display: flex;
    justify-content: flex-end;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(40px);
    /*REVIEW - might need to edit min-width later to make it more responsive - check non-desktop designs*/
    min-width: 664px;

}

#desktop-menu>ul {
    display: flex;
    gap: 48px;
    padding: 0px 64px;
}

li {
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-100, 8px);
    border-bottom: 3px solid rgba(255, 255, 255, 0);
}

li:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.50);
}

/* Active class needs to be placed after hover in CSS for higher specificity */
li.active {
    border-bottom: 3px solid rgba(255, 255, 255, 1);
}

a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

#hamburger {
    display: none;
}

#mobile-menu {
    display: none;
}

/* Main */

main {
    flex: 1;
    padding: 128px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#hero {
    flex: 1;
    max-width: 1110px;
    display: flex;
    align-items: flex-end;
}

#hero>.content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

#hero>.content>.text-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    max-width: 540px;
    color: #D0D6F9;
}

h1 {
    color: #fff;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

#hero>.content>.button-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
    max-width: 540px;
}

#hero>.content>.button-wrapper>button {
    width: 272px;
    height: 272px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-100, 8px);
    border-radius: 999px;
    border: none;
    background: var(--color-white, #FFF);
    color: var(--color-blue-900, #0B0D17);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: var(--font-size-desktop-textpreset4, 32px);
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

#hero>.content>.button-wrapper>button:hover {
    border: 88px solid rgba(255, 255, 255, 0.10);
    color: rgba(11, 13, 23, 0.5);
    cursor: pointer;
}

/* DESTINATION PAGE */
body#destination-page {
    background-image: url("./assets/destination/background-destination-desktop.jpg");
    color: var(--color-white);
}

#destination-page>main {
    padding: 48px 0;
}

#destination-content {
    flex: 1;
    align-self: stretch;
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

h2>span {
    padding-right: 24px;
    letter-spacing: 4.725px;
    opacity: 0.25;
    font-weight: 700;
}

#destination-details {
    flex: 1;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

#destination-picture {
    height: 480px;
    width: 480px;
}

#explanation {
    flex: 1;
    align-self: stretch;
    max-width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#explanation>ul {
    list-style: none;
    display: flex;
    gap: 32px;
    text-transform: uppercase;
}

#explanation li {
    height: 32px;
}

#explanation .text-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

#explanation .text-wrapper p {
    color: #D0D6F9;
}


/* Media queries */

@media only screen and (max-width: 600px) {

    body {
        background-image: url("./assets/home/background-home-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }


    /* HEADER */
    hr {
        display: none;
    }

    #desktop-menu {
        display: none;
    }

    .logo {
        padding-left: 24px;
    }

    #logo {
        height: 40px;
        width: 40px;
    }

    #hamburger {
        display: block;
        padding-right: 24px;
    }

    /* MAIN */
    main {
        padding: 24px;
    }

    #hero {
        align-self: stretch;
    }

    #hero>.content {
        align-self: stretch;
        flex-direction: column;
    }

    #hero>.content>.text-wrapper {
        align-items: center;
    }

    #hero>.content>.text-wrapper>h1 {
        font-size: 80px;
    }

    #hero>.content>.text-wrapper>h2 {
        font-size: 16px;
        letter-spacing: 2.4px;
    }

    #hero>.content>.text-wrapper>p {
        font-size: 15px;
        text-align: center;
    }

    #hero>.content>.button-wrapper {
        align-items: center;
        justify-content: center;
    }

    #hero>.content>.button-wrapper>button {
        width: 144px;
        height: 144px;
        font-size: 18px;
    }
}