/* Basic Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* VARIABLES FROM FIGMA */

:root {
    --color-white: #ffffff;
    --color-blue300: #d0d6f9;
    --color-blue900: #0b0d17;
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-800: 64px;
    --spacing-1000: 80px;
    --spacing-1200: 96px;
    --spacing-1600: 128px;
    --spacing-50: 4px;
    --spacing-25: 2px;
    --spacing-150: 12px;
    --fontsize-desktop-textpreset1: 144px;
    --fontsize-desktop-textpreset2: 96px;
    --fontsize-desktop-textpreset3: 56px;
    --fontsize-desktop-textpreset4: 32px;
    --fontsize-desktop-textpreset5: 28px;
    --fontsize-desktop-textpreset6: 28px;
    --fontsize-desktop-textpreset7: 14px;
    --fontsize-desktop-textpreset8: 16px;
    --fontsize-desktop-textpreset9: 18px;
    --fontsize-tablet-textpreset2: 80px;
    --fontsize-tablet-textpreset9: 16px;
    --fontsize-tablet-textpreset5: 20px;
    --fontsize-tablet-textpreset4: 24px;
    --fontsize-tablet-textpreset3: 40px;
    --fontsize-mobile-textpreset2: 56px;
    --fontsize-mobile-textpreset3: 24px;
    --fontsize-mobile-textpreset4: 18px;
    --fontsize-mobile-textpreset6: 16px;
    --fontsize-mobile-textpreset9: 15px;
    --fontsize-mobile-textpreset1: 80px;
    --fontsize-mobile-textpreset8: 14px;
}

/* ALL STYLES FROM FIGMA */
.desktop-textpreset1 {
    font-size: 144px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
}

.desktop-textpreset2 {
    font-size: 96px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
}

.desktop-textpreset3 {
    font-size: 56px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
    text-decoration: uppercase;
}

.desktop-textpreset4 {
    font-size: 32px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
    text-decoration: uppercase;
}

.desktop-textpreset5 {
    font-size: 28px;
    font-family: Barlow Condensed, sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
}

.desktop-textpreset6 {
    font-size: 28px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
    text-decoration: uppercase;
}

.desktop-textpreset7 {
    font-size: 14px;
    font-family: Barlow Condensed, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: uppercase;
}

.desktop-textpreset8 {
    font-size: 16px;
    font-family: Barlow Condensed, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.desktop-textpreset8bold {
    font-size: 16px;
    font-family: Barlow Condensed, sans-serif;
    font-weight: 700;
    letter-spacing: 2.700000047683716px;
}

.desktop-textpreset9 {
    font-size: 18px;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    line-height: 179.99999523162842;
}

.tablet-textpreset2 {
    font-size: 80px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
}

.tablet-textpreset3 {
    font-size: 40px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
    text-decoration: uppercase;
}

.tablet-textpreset4 {
    font-size: 24px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
    text-decoration: uppercase;
}

.tablet-textpreset5 {
    font-size: 20px;
    font-family: Barlow Condensed, sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.tablet-textpreset9 {
    font-size: 16px;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    line-height: 179.99999523162842;
}

.mobile-textpreset1 {
    font-size: 80px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
}

.mobile-textpreset2 {
    font-size: 56px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
}

.mobile-textpreset3 {
    font-size: 24px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
    text-decoration: uppercase;
}

.mobile-textpreset4 {
    font-size: 18px;
    font-family: Bellefair, sans-serif;
    font-weight: 400;
    text-decoration: uppercase;
}

.mobile-textpreset6 {
    font-size: 16px;
    font-family: Barlow Condensed, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.mobile-textpreset8 {
    font-size: 14px;
    font-family: Barlow Condensed, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.mobile-textpreset9 {
    font-size: 15px;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    line-height: 179.99999523162842;
}



/* Repeatable Styles */
body {
    min-height: 100vh;
    color: var(--color-white);
}

header {
    width: 100%;
    padding-top: var(--spacing-500);

}

main {
    flex: 1
}

h1,
h2 {
    text-transform: uppercase;
}

header>.flex-container {
    max-width: 1440px;
    margin: 0 auto;
}

main>div {
    max-width: 1440px;
    margin: 0 auto;

}


.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-wrapper {
    padding-left: var(--spacing-800);
    flex: 1 0 0;
    gap: var(--spacing-800);
}

.logo-wrapper hr {
    flex: 1 0 0;
    height: 1px;
    opacity: 0.25;
    background-color: var(--color-white);
    margin-right: calc(var(--spacing-400)*-1);
    z-index: 2;
}

.menu-wrapper {
    flex: 1 0 0;
    padding: 0 var(--spacing-800);
    min-width: 664px;
    min-height: var(--spacing-1200);
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(40px);
}

.menu-wrapper>ul {
    list-style: none;
    gap: var(--spacing-600);
    align-self: stretch;
}

.menu-wrapper>ul>li {
    align-self: stretch;
}

.menu-wrapper ul li a {
    text-decoration: none;
    color: var(--color-white);
    text-transform: uppercase;
    align-self: center;
}

.menu-wrapper ul li:hover {
    border-bottom: 3px rgba(255, 255, 255, 0.5) solid;
}

.menu-wrapper ul li a>span {
    margin-right: var(--spacing-150);
}


/* Homepage */
#home-page {
    background-image: url("./assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* TODO: Lightray?? */
}

#home-page .menu-wrapper ul li:first-child {
    border-bottom: 3px rgba(255, 255, 255) solid;
}